@font-face {
    font-family: "nanumBarun";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBarun/nanumBarun.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/nanumBarun/nanumBarun.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarun/nanumBarun.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarun/nanumBarun.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/nanumBarun/nanumBarun.ttf") format("truetype");
    font-display: swap;
}
.nanumBarun {
    font-family: "nanumBarun";
}